@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

h1 {
  @apply text-3xl md:text-4xl font-bold;
}

h2 {
  @apply text-2xl md:text-3xl font-semibold;
}

.perspective-1000 {
  perspective: 1000px;
}
